<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% block head %}
    {% if not debug %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139451280-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139451280-1');
    </script>
    {%  endif %}
    <meta charset="utf-8">
    <title>JACoW Cat Scan Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma/css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jacowvalidator.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--[if lt IE 9]><script src="{{ url_for('static', filename='js/details-polyfill/index.min.js')}}" async></script><![endif]-->
    {% endblock %}
</head>
<body>
<div id="skiptocontent">
    <a href="#content">skip to main content</a>
</div>
<nav class="navbar" role="navigation" aria-label="main navigation" style="background-image: linear-gradient(to right, lightblue , white);padding:3px;border-bottom:1px blue solid">
  <div class="navbar-brand">
    <img src="{{ url_for('static', filename='cat.png')}}" width="52" height="61" style="height:61px" alt="jacow validator logo">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="jacowNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="jacowNavbar" class="navbar-menu">
    <div class="navbar-start">
      <a id="upload" href="{{ url_for('upload')}}" class="navbar-item" style="padding-left:10px;padding-right:10px;margin-left:30px">
        JACoW Word (docx) Validator
      </a>
      <a id="resources" href="{{ url_for('resources')}}" class="navbar-item" style="padding-left:10px;padding-right:10px;;margin-left:30px">
        Resources
      </a>
        {% if admin %}
      <a id="convert" href="{{ url_for('convert')}}" class="navbar-item" style="padding-left:10px;padding-right:10px;;margin-left:30px">
        Convert
      </a>
      <a id="log" href="{{ url_for('log')}}" class="navbar-item" style="padding-left:10px;padding-right:10px;;margin-left:30px">
        Logs
      </a>
        {% endif %}
      </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a href="http://www.jacow.org/">
                <img src="{{ url_for('static', filename='jacow_image.png')}}" width="208" height="32" alt="jacow logo">
            </a>
        </div>
    </div>
</nav>
    <a id="content"></a>
    {% block content %}
    {% endblock %}
    <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', function () {
          // Get all "navbar-burger" elements
          var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any navbar burgers

          if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach(function (el) {
              el.addEventListener('click', function () {
                // Get the target from the "data-target" attribute
                var target = el.dataset.target;
                var $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
              });
            });
          }
        });
        {# TODO use href target instead of id to set active #}
        // set menu item as active
        var url = window.location.toString();
        var page = url.split('/');
        page = page.slice(-1).pop();
        page = page.split('?');
        page = page[0];
        var element = document.getElementById(page)
        element.className += " is-active";

     </script>
<footer class="footer has-background-white">
  <div class="has-text-centered">
      Created in partnership with &nbsp;&nbsp;
      <a href="https://www.ansto.gov.au">
      <img style="vertical-align:middle" src="{{ url_for('static', filename='ansto_logo.jpg')}}" alt="ansto logo">
      </a>
      &nbsp;&nbsp; as part of &nbsp;&nbsp;
      <a href="https://ipac19.org">
      <img style="vertical-align:middle" src="{{ url_for('static', filename='ipac_logo.jpg')}}"  alt="ipac logo">
      </a>
  </div>
</footer>
</body>
</html>