<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JACoW Cat Scan Editor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bulma/css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.min.css')}}">
</head>
<body>
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="{{ url_for('static', filename='cat.png')}}" width="52" height="61" style="height:61px" alt="jacow validator logo">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{ url_for('upload')}}" class="navbar-item" style="padding-left:10px;padding-right:10px;margin-left:30px">
        Jacow Word (docx) Validator
      </a>

      <a href="{{ url_for('resources')}}" class="navbar-item" style="padding-left:10px;padding-right:10px;;margin-left:30px">
        Resources
      </a>
      </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <a href="http://www.jacow.org/">
                <img src="{{ url_for('static', filename='jacow_image.png')}}" width="208" height="32" alt="ansto logo">
            </a>
        </div>
    </div>
  </div>
</nav>
    {% block content %}
    {% endblock %}
<footer class="footer has-background-white">
  <div class="has-text-centered">
      Created in partnership with &nbsp;&nbsp;
      <img style="vertical-align:middle" src="{{ url_for('static', filename='ansto_logo.jpg')}}" alt="ansto logo">
      &nbsp;&nbsp; as part of &nbsp;&nbsp;
      <img style="vertical-align:middle" src="{{ url_for('static', filename='ipac_logo.jpg')}}"  alt="ipac logo">
  </div>
</footer>
</body>
</html>