{% macro add_section(section, args, rules, extra_rules='', extra_info='', show_styles=True) -%}
 <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
    <a href="#top" class="link-color">Top <i class="fas fa-arrow-circle-up"></i></a>
    <h2 class="subtitle" style="padding:10px;background-color:#{{ section['ok']|pastel_background_style }}">
        <a name="{{section['anchor'] }}"></a>{{ section['ok']|tick_cross|safe }}
        {% if args['section_header'] %} {{ args['section_header']|safe }} {% else %}{{ section['title'] }} {% endif %}
        {% if section.showTotal %} ({{ section.details|length }}){% endif %}
        {% if 'extra_info' in args %} - <a href="https://www.jacow.org/Authors/{{ args['extra_info'] }}" target="_target">Author Help for {{ section['title'] }}</a>{%  endif %}
    </h2>
    {% if rules or extra_rules %}
    <details style="border:1px lightgray solid;border-radius:2px">
        <summary style="padding:5px;border: 1px solid grey;border-radius:2px; background-color:#fcfcfc">Rules for {{ section['title'] }}</summary>
        <div style="padding-left:20px"> {{ extra_rules|safe }}</div>
        {% if rules %}
        <table class="table is-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Type</th><th>Details</th><th>Alignment</th><th>Font Size</th><th>Font Style</th><th>Case</th><th>Space Before</th><th>Space After</th><th>Indent</th>
                </tr>
            </thead>
            {{ rules|safe }}
        </table>
        {% endif %}
    </details>
    <br/>
    {% endif %}
    {% if 'ok' in extra_info %}
        {% if not (section.showTotal and section['details']|length == 0) %}
        <details {% if extra_info['ok'] == false %} open {% endif %} style="border:1px lightgray solid;border-radius:2px">
        <summary style="padding:5px;border:1px solid grey;border-radius:2px; background-color:#fcfcfc">{{ extra_info['title'] }} for {{ section['title'] }}</summary>
            {% if extra_info['multi'] %}
                {{ make_table_multi(section['details'], extra_info['headers'], extra_info['columns'], args) }}
            {%  else %}
                {{ make_table(section['details'], extra_info['headers'], extra_info['columns'], args) }}
            {% endif %}
        </details>
        <br/>
        {% endif %}
    {% elif extra_info %}
        {{ extra_info|safe }}
    {% endif %}
    {% if show_styles %}
        {% if not section.showTotal or (section.showTotal and section['details']|length > 0) %}
            <details {% if section['ok'] == false %} open {% endif %} style="border:1px lightgray solid;border-radius:2px">
                <summary style="padding:5px;border: 1px solid grey;border-radius:2px; background-color:#fcfcfc">Style Breakdown for {{ section['title'] }}</summary>
                {% set headers = '<thead>
                    <tr>
                        <th rowspan="2" width="25%" style="text-align:center">Text</th>
                        <th colspan="9" width="75%" style="text-align:center">Style</th>
                    </tr>
                    <tr>
                        <th width="20%">Text Style Name</th>
                        <th width="7%">Alignment</th>
                        <th width="7%">Font Size</th>
                        <th width="7%">All Caps</th>
                        <th width="7%">Bold</th>
                        <th width="7%">Italic</th>
                        <th width="7%">Space Before</th>
                        <th width="7%">Space After</th>
                        <th width="7%">First Line Indent</th>
                        <th width="5%">Ok</th>
                    </tr>
                </thead>' %}
                {% set columns = ['text','style','alignment','font_size','all_caps','bold','italic','space_before','space_after','first_line_indent','style_ok'] %}
                {% if args['style_multi'] %}
                    {{ make_table_multi(section['details'], headers, columns, args) }}
                {% else %}
                    {{ make_table(section['details'], headers, columns, args) }}
                {% endif %}
            </details>
        {% else %}
            <div style="width:100%">
            <div style="text-align:center;padding:5px;background-color:#{{ False|pastel_background_style }}">No {{ section['title'] }} found. Please check formatting if there should be some.</div>
            </div>
        {% endif %}
    {% endif %}
</div>
{%- endmacro %}

{% macro make_table(data, headers, columns, args={}) -%}
    <table class="table is-bordered" style="width:100%">
        {{ headers|safe }}
        {% for row in data %}
            <tr>
            {% for col in columns %}
                {% set value = row[col] %}
                {{ make_cell(col, value, loop, args) }}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}

{% macro make_table_multi(data, headers, columns, args={}) -%}
    <table class="table is-bordered" style="width:100%">
        {{ headers|safe }}
        {% for id, id_row in data.items() %}
            {% for item in id_row %}
            <tr>
            {% for col in columns %}
                {% set value = item[col] %}
                {% if col == 'id' %}
                    {% set value = id %}
                {% endif %}
                {{ make_cell(col, value, loop, args) }}
            {% endfor %}
            </tr>
            {% endfor %}
        {% endfor %}
    </table>
{%- endmacro %}

{% macro make_cell(col, value, loop, args) -%}
    {% if col == 'loop.index' %}
        <td>{{ loop.index }}</td>
    {% elif col == 'in_table' %}
        <td>{{ value|safe }}</td>
    {% elif col == 'text' %}
        <td title="{{ value }}">{% if args['truncate_text'] %}{{ value|truncate(args['truncate_text']) }} {% else %} {{ value }} {% endif %}</td>
    {% elif '_ok' in col|string  %}
        <td style="background-color:#{{ value|pastel_background_style }}"> {{ value|tick_cross|safe  }}</td>
    {% elif value is iterable and value is not string %}
        <td>
            <ul style="list-style-type: circle; padding-left: 5px">
            {% for item in value %}
                <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </td>
    {% else %}
        <td {% if 'should be' in value|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ value }}</td>
    {% endif %}
{%- endmacro %}
