{% macro add_section(section, args, rules, extra_rules='', extra_info='', show_styles=True) -%}
 <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
    <a href="#top">Top <i class="fas fa-arrow-circle-up"></i></a>
    <h2 class="subtitle" style="padding:10px;background-color:#{{ section['ok']|status_type_background }}">
        <a name="{{section['anchor'] }}"></a>{{ section['ok']|tick_cross }} {{ section['title'] }}
    </h2>
    {% if rules or extra_rules %}
    <details style="border:1px lightgray solid;border-radius:2px">
        <summary style="padding:5px;border: 1px solid grey;border-radius:2px; background-color:#fcfcfc">Rules for {{ section['title'] }}</summary>
        <div style="padding-left:20px"> {{ extra_rules|safe }}</div>
        {% if rules %}
        <table class="table is-bordered">
            <thead>
                <tr>
                    <th>Type</th><th>Details</th><th>Alignment</th><th>Font Size</th><th>Font Style</th><th>Case</th><th>Space Before</th><th>Space After</th>
                </tr>
            </thead>
            {{ rules|safe }}
        </table>
        {% endif %}
    </details>
    <br/>
    {% endif %}
    {% if extra_info %}
        <details {% if extra_info['ok'] == false %} open {% endif %} style="border:1px lightgray solid;border-radius:2px">
        <summary style="padding:5px;border:1px solid grey;border-radius:2px; background-color:#fcfcfc">{{ extra_info['title'] }} for {{ section['title'] }}</summary>
        {{ make_table(section['details'], extra_info['headers'], extra_info['columns']) }}
        </details>
        <br/>
    {% endif %}
    {% if show_styles %}
    <details {% if section['ok'] == false %} open {% endif %} style="border:1px lightgray solid;border-radius:2px">
    <summary style="padding:5px;border: 1px solid grey;border-radius:2px; background-color:#fcfcfc">Style Breakdown for {{ section['title'] }}</summary>
    <table class="table is-bordered">
        <thead>
            <tr>
                <th rowspan="2" width="30%" style="text-align:center">Text</th>
                <th colspan="8" width="70%" style="text-align:center">Style</th>
            </tr>
            <tr>
                <th width="20%">Font Name</th>
                <th width="8%">Alignment</th>
                <th width="8%">Font Size</th>
                <th width="8%">Bold</th>
                <th width="8%">Italic</th>
                <th width="8%">Space Before</th>
                <th width="8%">Space After</th>
                <th width="5%">Ok</th>
            </tr>
        </thead>
        <tbody>
            {% for item in section['details'] %}
            <tr>
                <td title="{{ item.text }}">{% if args['truncate_text'] %}{{ item.text|truncate(100) }} {% else %} {{ item.text }} {% endif %}</td>
                <td>{{ item.style }}</td>
                <td {% if 'should be' in item.alignment|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.alignment }}</td>
                <td {% if 'should be' in item.font_size|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.font_size }}</td>
                <td {% if 'should be' in item.bold|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.bold }}</td>
                <td {% if 'should be' in item.italic|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.italic }}</td>
                <td {% if 'should be' in item.space_before|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.space_before }}</td>
                <td {% if 'should be' in item.space_after|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.space_after }}</td>
                <td {% if item.style_ok == False %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.style_ok|tick_cross }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </details>
    {% endif %}
</div>
{%- endmacro %}

{% macro make_table(data, headers, columns, show_errors) -%}
    <table class="table is-bordered">
        {{ headers|safe }}
        {% for row in data %}
            <tr>
            {% for col in columns %}
                {% set value = row[col] %}
                {% if col == 'loop.index' %}
                    <td>{{ loop.index }}</td>
                {% elif value is sameas true or value is sameas false %}
                    <td {% if value == false %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}> {{ value|tick_cross }}</td>
                 {%  elif show_errors %}
                    <td {% if 'should be' in value|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ value }}</td>
                {% else %}
                    <td>{{ value }}</td>
                {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
{%- endmacro %}