{% extends "layout.html" %}
{% block content %}
    <section class="section">
        <div class="container is-clearfix">
        {% if commit_sha and commit_date %}<p class="is-size-7 is-pulled-right"><b>Updated:</b> {{ commit_date.strftime('%H:%M %d/%m/%Y') }} [<b>{{ commit_sha }}</b>]</p>{% endif %}
        </div>
        {% include "_fileupload.html" ignore missing %}

        {% if error %}
            {% if filename %}
                <div class="container">
                <h1 class="title">Report for {{ filename }}</h1>
                </div>
            {% endif %}
            <div class="container box has-background-danger">{{ error }}</div>
        {% endif %}

        {% if processed %}
            {% import "section_macro.html" as section_helper %}
            <div class="container">
            <h1 class="title"><a name="top"></a>Report for {{ filename }}</h1>

            <div class="container box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <h2 class="subtitle">Summary</h2>
                <div class="list is-hoverable">
                {% for i, item in summary.items() %}
                   <a href="#{{ item.anchor }}" class="list-item link-color" style="background-color:#{{ item.ok|status_type_background }}">
                    {{ item.ok|tick_cross }} {{ item.title }} {% if item.showTotal %} ({{ item.details|length }}){% endif %}
                       {% if item.ok == False %} - {{ item.message }}{% endif %}
                   </a>
                {% endfor%}
                </div>
            </div>

            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <h2 class="subtitle"><a name="meta"></a>Word Document loaded successfully</h2>
                <p>Author: {{ metadata.author }}</p>
                <p>Internal Revision: {{ metadata.revision }}</p>
                <p>Created at (UTC): {{ metadata.created.strftime('%d/%m/%Y %H:%M') }}</p>
                <p>Modified at (UTC): {{ metadata.modified.strftime('%d/%m/%Y %H:%M') }}</p>
                {% if  metadata.version %}
                    <p>Version: {{ metadata.version }}</p>
                {% endif %}
                {% if  metadata.language %}
                    <p>Language: {{ metadata.language }}</p>
                {% endif %}
            </div>

            {% set section = summary['Styles'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Style Breakdown', 'headers': '<thead><tr>
                            <th>Style</th><th>Embedded in Document</th>
                        </tr></thead>',
                'columns': ['style', 'style_ok']}
            %}
            {{ section_helper.add_section(section,
                    {},
                    '',
                    '<p>The latest JACoW Template must be used.<br/>
                        Standard JACoW Style’s must embedded in the document.</p>',
                    extra_info, False) }}

            {% set section = summary['Margins'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Style Breakdown', 'headers': '<thead><tr>
                            <th>Section</th><th>Page Size</th><th colspan="2">Margins</th>
                            <th>Columns</th><th colspan="2">Column Gutter (cm)</th>
                        </tr> </thead>',
                'columns': ['loop.index', 'page_size', 'margins', 'margins_ok', 'col_number', 'col_gutter', 'col_ok']}
            %}

            {{ section_helper.add_section(section,
                    {},
                    '',
                    '<h3 class="subtitle is-6">Documents MUST be based on A4 or US Letter</h3>
                    <table class="table is-bordered">
                        <thead><tr><th colspan="2">A4</th></tr></thead>
                        <tbody>
                        <tr><td>Top</td><td>37mm</td></tr>
                        <tr><td>Bottom</td><td>19mm</td></tr>
                        <tr><td>Left</td><td>20mm</td></tr>
                        <tr><td>Right</td><td>20mm</td></tr>
                        </tbody>
                    </table>
                    <table class="table is-bordered">
                        <thead><tr><th colspan="2">US Letter</th></tr></thead>
                        <tbody>
                        <tr><td>Top</td><td>0.75in</td></tr>
                        <tr><td>Bottom</td><td>0.75in</td></tr>
                        <tr><td>Left</td><td>0.79in</td></tr>
                        <tr><td>Right</td><td>1.02in</td></tr>
                        </tbody>
                    </table>
                    Check gutter setting (Space between columns), for all section with more than 1 column, should be 0.51cm.',
                    extra_info, False) }}


            {% set section = summary['Languages'] %}
            {% if summary['Languages']['ok'] == False %}
                {% set extra_info = 'Non English proofing languages were found in document, please set all document content proofing language to English.' %}
            {% else %}
                {% set extra_info = 'English proofing languages were found.' %}
            {% endif %}
            {{ section_helper.add_section(section,
                    {},
                    '',
                    '<p>Document overall language should be set to English for proofing tools.<br/>
                    Below are the codes that should be in the list</p>
                    <table class="table is-bordered">
                        <thead><tr><th colspan="2">English Codes</th></tr></thead>
                        <tbody>
                        <tr><td>en-GB</td><td>English (United Kingdom)</td></tr>
                        <tr><td>en-US</td><td>English (United States)</td></tr>
                        <tr><td>en-AU</td><td>English (Australia)</td></tr>
                        <tr><td>en-nz</td><td>English (New Zealand)</td></tr>
                        </tbody>
                    </table>
                    If you want to look up other codes, you can do so <a href="https://www.andiamo.co.uk/resources/iso-language-codes/" target="_blank">here</a>',
                    extra_info, False) }}


            {% set section = summary['Title'] %}
            {% if not title.case_ok %}
                {% set extra_info = '<p class="has-text-weight-bold has-text-danger">Title should be at least 70% uppercase</p>' %}
            {% else %}
                {% set extra_info = '' %}
            {% endif %}
            {{ section_helper.add_section(section,
                    {},
                    '<tr>
                        <td>PAPER TITLE</td>
                        <td>“JACoW_Paper Title” Style, or equivalent style.</td>
                        <td>Centered</td><td>14 pt</td><td>Bold</td><td>Title should contain greater than 70% of CAPITAL Letters, can’t be simple Title Case.</td><td>0 pt</td><td>3 pt</td><td>NA</td>
                    </tr>',
                    '',
                    extra_info) }}

            {% set section = summary['Authors'] %}
            {{ section_helper.add_section(section,
                    {},
                    '<tr>
                        <td>Author List</td>
                        <td>“JACoW_Author Title” Style, or equivalent style.</td>
                        <td>Centered</td><td>12 pt</td><td>None</td><td>UPPER and lowercase</td><td>9 pt</td><td>12 pt</td><td>NA</td>
                    </tr>',
                    '') }}

            {% set section = summary['Abstract'] %}
            {{ section_helper.add_section(section,
                    {},
                    '<tr>
                        <td>Abstract_Heading</td>
                        <td>“JACoW_Abstract_Heading” Style, or equivalent style.</td>
                        <td>Left or None</td><td>12 pt</td><td>Italic</td><td></td><td>0 pt</td><td>3 pt</td><td>NA</td>
                    </tr>',
                    '<ul>
                        <li>Must Say Abstract</li>
                        <li>Be in the “JACoW_Abstract_Heading” style.</li>
                    </ul>') }}

            {% set section = summary['Headings'] %}
            {{ section_helper.add_section(section,
                        {},
                        '<tr>
                            <td>SECTION  HEADING</td>
                            <td>“JACoW_Section Heading” Style, or equivalent style.</td>
                            <td>Centered</td><td>12 pt</td><td>Bold</td><td>All Caps where appropriate</td><td>9 pt</td><td>3 pt</td><td>NA</td>
                        </tr>
                        <tr>
                            <td>Sub-Section Heading</td>
                            <td>“JACoW_Subsection Heading” Style, or equivalent style.</td>
                            <td>Left or None</td><td>12 pt</td><td>Italic</td><td>Title Case.</td><td>6 pt</td><td>3 pt</td><td>NA</td>
                        </tr>
                        <tr>
                            <td>Third Level Heading</td>
                            <td>“JACoW_Third-Level Heading” Style, or equivalent style</td>
                            <td>Left or None</td><td>10 pt</td><td>Bold</td><td>Title Case, and run into the paragraph.</td><td>6 pt</td><td>0 pt</td><td>NA</td>
                        </tr>') }}

            {% set section = summary['Paragraphs'] %}
            {{ section_helper.add_section(section,
                        {'truncate_text':200},
                        '<tr>
                            <td>Paragraph</td>
                            <td>“JACoW_Body Text Indent” Style, or equivalent style.</td>
                            <td>Justified</td><td>10 pt</td><td>NA</td><td>NA</td><td>≥3 pt</td><td>3 pt</td><td>0.33cm or 9.35pt</td>
                        </tr>') }}


            {% set section = summary['References'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Use Breakdown', 'headers': '<thead>
                            <tr>
                                <th>No.</th>
                                <th colspan="3">Text</th>
                                <th>Used</th>
                                <th>Order</th>
                                <th>Unique</th>
                            </tr>
                        </thead>',
                'columns': ['id', 'text', 'text_error', 'text_ok', 'used_ok', 'order_ok', 'unique_ok']}
            %}
            {{ section_helper.add_section(section,
                    {'truncate_text':50},
                    '<tr>
                        <td>Reference</td>
                        <td>“JACoW_References when ≤ 9” Style, or equivalent style.</td><td>Justified</td>
                        <td>9 pt</td><td>NA</td><td>NA</td><td>0 pt</td><td>3 pt</td><td>Hanging: 0<br/>First Line: -14.75pt or 0.52 cm</td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td>“JACoW_Reference #1-9 when >= 10 Refs” Style, or equivalent style.</td><td>Justified</td>
                        <td>9 pt</td><td>NA</td><td>NA</td><td>0 pt</td><td>3 pt</td><td>Hanging: 0.16cm<br/>First Line: -14.75pt or 0.52cm</td>
                    </tr>
                    <tr>
                        <td>Reference</td>
                        <td>“JACoW_Reference #10 onwards” Style, or equivalent style.</td><td>Justified</td>
                        <td>9 pt</td><td>NA</td><td>NA</td><td>0 pt</td><td>3 pt</td><td>Hanging: 0<br/>First Line: 0.68cm</td>
                    </tr>',
                    '<ul>
                    <li>All references must be ordered in the reference list based on when they first are referred to in the main text.</li>
                    <li>References in the main text can be [n], or [n1, n2, n5, etc.], or [n – n3].</li>
                    <li>A reference can be referred to multiple times in the main text as required.</li>
                    <li>All references in the reference list must be sited in the main text at least once.</li>
                    <li>Reference lists which have 9 or less references must be “JACoW_Reference when <= 9 Refs” Style.</li>
                    <li>When greater than 9 references the first 9 must be “JACoW_Reference #1-9 when >= 10 Refs” Style, and 10 and onwards must be “JACoW_Reference #10 onwards” Style.</li>
                    <li>All references must be numbered [n] and have a tab between the ] and the start of the reference text. (note many authors put spaces in which stuffs up the spacing.</li>
                    </ul>',
                    extra_info, True) }}

            {% set section = summary['Figures'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Use Breakdown', 'headers': '<thead>
                        <tr>
                            <th>No.</th>
                            <th colspan="2">Caption</th>
                            <th>Unique</th>
                            <th colspan="2">References</th>
                            <th width="30%">Text</th>
                        </tr>
                    </thead>',
                'columns': ['id', 'name', 'caption_ok', 'unique_ok', 'refs', 'used_ok', 'text'],'multi':true}
            %}
            {{ section_helper.add_section(section,
                    {'style_multi':true},
                    '<tr>
                            <td>Figure Caption</td>
                            <td>“Figure Caption” Style, or equivalent style.</td>
                            <td>Centered</td><td>10 pt</td><td>3 pt</td><td>≥3 pt</td><td>NA</td><td>NA</td><td>NA</td>
                        </tr>
                        <tr>
                            <td>Figure Caption Multi Line</td>
                            <td>“Figure Caption Multi Line” Style, or equivalent style.</td>
                            <td>Justified</td><td>10 pt</td><td>3 pt</td><td>≥3 pt</td><td>NA</td><td>NA</td><td>NA</td>
                        </tr>',
                    '<ul>
                        <li>Figure captions must be directly below the figure</li>
                        <li>Figure must be numbered in the order they are referred to in the main text.</li>
                        <li>Figure numbers must be unique and not duplicated, or skip numbers in the series.</li>
                        <li>Figure Captions 1 line long must be “centred” (“Figure Caption” Style). Figure captions 2 or more lines must be “justified” (“Caption Multi Line” Style).</li>
                        <li>Figure captions and figures are not to be indented.</li>
                        <li>Figure captions must start with “Figure n:”.</li>
                        <li>In text references to the figure if mid-sentence must be “Fig. n”, at the start of a sentence it maybe “Figure n”.</li>
                        <li>Figures must have a “.” On the end of the final line.</li>
                    </ul>',
                    extra_info, True) }}

            {% set section = summary['Tables'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Use Breakdown', 'headers': '<thead>
                        <tr>
                            <th>No.</th>
                            <th colspan="3">Caption</th>
                            <th colspan="2">Used</th>
                            <th>Order</th>
                            <th>Table</th>
                        </tr>
                    </thead>',
                'columns': ['id', 'text', 'text_format_ok', 'text_format_message', 'used', 'used_ok', 'order_ok', 'table']}
            %}

            {{ section_helper.add_section(section,
                    {},
                        '<tr>
                            <td>Table Caption</td>
                            <td>“Table Caption” Style, or equivalent style.</td>
                            <td>Centered</td><td>10 pt</td><td>NA</td><td>NA</td><td>≥3 pt</td><td>3 pt</td><td>NA</td>
                        </tr>
                        <tr>
                            <td>Table Caption Multi Line</td>
                            <td>“Table Caption Multi Line” Style, or equivalent style.</td>
                            <td>Justified</td><td>10 pt</td><td>NA</td><td>NA</td><td>≥3 pt</td><td>3 pt</td><td>NA</td>
                        </tr>',
                    '<ul>
                        <li>Table captions are actually titles, this means that they are in Title Case, and don’t have a “.” At the end, well unless exceeds 2 lines.</li>
                        <li>The table caption is centred if 1 line (“Table Caption” Style), and Justified if 2 or more (“Table Caption Multi Line” Style.  The table caption must appear above the Table.</li>
                        <li>All tables must be numbered in the order they appear in the document and not skip a number in the sequence.</li>
                        <li>All tables start with “Table n:”.</li>
                        <li>All tables must be referred to in the main text and use “Table n”. </li>
                    </ul>',
                    extra_info, True) }}

            {% if summary['SPMS'] %}
                {% set section = summary['SPMS'] %}
                {% set extra_info = {'ok':section['ok'],'title':'Title and Author Breakdown', 'headers': '<thead>
                    <tr><th>Type</th><th>Match</th><th>Docx</th><th>SPMS</th></tr>
                </thead>',
                    'columns': ['type', 'match_ok', 'docx', 'spms']}
                %}
                {% if reference_csv_url is defined %}
                    {% set title = 'Conformance with <a href=' + reference_csv_url + '>references.csv</a>' %}
                {% else %}
                   {% set title = 'Conformance with references.csv' %}
                {% endif %}

                {{ section_helper.add_section(section,
                        {'section_header':title},
                        '',
                        '',
                        extra_info, False) }}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </section>
   <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', () => {
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
              });
            });
          }
        });
    </script>
{% endblock %}