{% extends "layout.html" %}
{% block content %}
    <section class="section">
        <div class="container is-clearfix">
        {% if commit_sha and commit_date %}<p class="is-size-7 is-pulled-right"><b>Updated:</b> {{ commit_date.strftime('%H:%M %d/%m/%Y') }} [<b>{{ commit_sha }}</b>]</p>{% endif %}
        </div>
        {% include "_fileupload.html" ignore missing %}

        {% if error %}
            {% if filename %}
                <div class="container">
                <h1 class="title">Report for {{ filename }}</h1>
                </div>
            {% endif %}
            <div class="container box has-background-danger">{{ error }}</div>
        {% endif %}

        {% if processed %}
            {% import "section_macro.html" as section_helper %}
            <div class="container">
            <h1 class="title"><a name="top"/>Report for {{ filename }}</h1>

            <div class="container box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <h2 class="subtitle">Summary</h2>
                <div class="list is-hoverable">
                {% for i, item in summary.items() %}
                   <a href="#{{ item.anchor }}" class="list-item" style="background-color:#{{ item.ok|status_type_background }}">
                    {{ item.ok|tick_cross }} {{ item.title }} {% if item.showTotal %} ({{ item.details|length }}){% endif %}
                       {% if item.ok == False %} - {{ item.message }}{% endif %}
                   </a>
                {% endfor%}
                </div>
            </div>

            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <h2 class="subtitle"><a name="meta"></a>Word Document loaded successfully</h2>
                <p>Author: {{ metadata.author }}</p>
                <p>Internal Revision: {{ metadata.revision }}</p>
                <p>Created at (UTC): {{ metadata.created.strftime('%d/%m/%Y %H:%M') }}</p>
                <p>Modified at (UTC): {{ metadata.modified.strftime('%d/%m/%Y %H:%M') }}</p>
                {% if  metadata.version %}
                    <p>Version: {{ metadata.version }}</p>
                {% endif %}
                {% if  metadata.language %}
                    <p>Language: {{ metadata.language }}</p>
                {% endif %}
            </div>

            {% set section = summary['Styles'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Style Breakdown', 'headers': '<thead><tr>
                            <th>Style</th><th>Embedded in Document</th>
                        </tr></thead>',
                'columns': ['style', 'style_ok']}
            %}
            {{ section_helper.add_section(section,
                    [],
                    '',
                    '<p>The latest JACoW Template must be used.<br/>
                        Standard JACoW Style’s must embedded in the document.</p>',
                    extra_info, False) }}

            {% set section = summary['Margins'] %}
            {% set extra_info = {'ok':section['ok'],'title':'Style Breakdown', 'headers': '<thead><tr>
                            <th>Section</th><th>Page Size</th><th colspan="2">Margins</th>
                            <th>Columns</th><th colspan="2">Column Gutter (cm)</th>
                        </tr> </thead>',
                'columns': ['loop.index', 'page_size', 'margins', 'margins_ok', 'col_number', 'col_gutter', 'col_ok']}
            %}

            {{ section_helper.add_section(section,
                    [],
                    '',
                    '<h3 class="subtitle is-6">Documents MUST be based on A4 or US Letter</h3>
                    <table class="table is-bordered">
                        <thead><tr><th colspan="2">A4</th></tr></thead>
                        <tbody>
                        <tr><td>Top</td><td>37mm</td></tr>
                        <tr><td>Bottom</td><td>19mm</td></tr>
                        <tr><td>Left</td><td>20mm</td></tr>
                        <tr><td>Right</td><td>20mm</td></tr>
                        </tbody>
                    </table>
                    <table class="table is-bordered">
                        <thead><tr><th colspan="2">US Letter</th></tr></thead>
                        <tbody>
                        <tr><td>Top</td><td>0.75in</td></tr>
                        <tr><td>Bottom</td><td>0.75in</td></tr>
                        <tr><td>Left</td><td>0.79in</td></tr>
                        <tr><td>Right</td><td>1.02in</td></tr>
                        </tbody>
                    </table>
                    Check gutter setting (Space between columns), for all section with more than 1 column, should be 0.51cm.',
                    extra_info, False) }}

            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <a href="#top">Top <i class="fas fa-arrow-circle-up"></i></a>
                <h2 class="subtitle" style="padding:10px;background-color:#{{ summary['Languages']['ok']|status_type_background }}">
                    <a name="{{ summary['Languages']['anchor'] }}"></a>{{ summary['Languages']['ok']|tick_cross }} Languages
                </h2>
                <details style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Rules for {{ summary['Languages']['title'] }}</summary>
                    <div style="padding-left:10px">
                    <p>Document overall language should be set to English for proofing tools.<br/>
                    Below are the codes that should be in the list</p>
                    <table class="table is-bordered">
                        <thead><tr><th colspan="2">English Codes</th></tr></thead>
                        <tbody>
                        <tr><td>en-GB</td><td>English (United Kingdom)</td></tr>
                        <tr><td>en-US</td><td>English (United States)</td></tr>
                        <tr><td>en-AU</td><td>English (Australia)</td></tr>
                        <tr><td>en-nz</td><td>English (New Zealand)</td></tr>
                        </tbody>
                    </table>
                    If you want to look up other codes, you can do so <a href="https://www.andiamo.co.uk/resources/iso-language-codes/" target="_blank">here</a>
                    </div>
                </details>
                <br/>
                {% if summary['Languages']['ok'] == False %}
                    Non English proofing languages were found in document, please set all document content proofing language to English.

                    <ul>
                        {% for lang in language_summary %}
                        <li> {{ lang }}</li>
                        {% endfor %}
                    </ul>
                    {# dont display for the moment #}
                    {% if languages and False %}
                        <details style="padding:5px;border:1px lightgray solid;border-radius:5px">
                        <ul>
                            {% for lang in languages %}
                                {% if languages[lang] not in ['en-US', 'en-GB', 'en-AU'] %}
                                <li>{{ languages[lang] }} - {{ lang }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <br/>
                        </details>
                    {% endif %}
                {% else %}
                    English proofing languages were found in document
                {% endif %}
            </div>

            {% set section = summary['Title'] %}
                {% if not title.case_ok %}
                {% set extra_info = '<p class="has-text-weight-bold has-text-danger">Title should be at least 70% uppercase</p>' %}
            {% else %}
                {% set extra_info = '' %}
            {% endif %}
            {{ section_helper.add_section(section,
                    [],
                    '<tr>
                        <td>PAPER TITLE</td>
                        <td>“JACoW_Paper Title” Style, or equivalent style.</td>
                        <td>Centered</td><td>14 pt</td><td>Bold</td><td>Title should contain greater than 70% of CAPITAL Letters, can’t be simple Title Case.</td><td>0 pt</td><td>3 pt</td>
                    </tr>',
                    '',
                    extra_info) }}

            {% set section = summary['Authors'] %}
            {{ section_helper.add_section(section,
                    [],
                    '<tr>
                        <td>Author List</td>
                        <td>“JACoW_Author Title” Style, or equivalent style.</td>
                        <td>Centered</td><td>12 pt</td><td>None</td><td>UPPER and lowercase</td><td>9 pt</td><td>12 pt</td>
                    </tr>',
                    '') }}

            {% set section = summary['Abstract'] %}
            {{ section_helper.add_section(section,
                    [],
                    '<tr>
                        <td>Abstract_Heading</td>
                        <td>“JACoW_Abstract_Heading” Style, or equivalent style.</td>
                        <td>Left or None</td><td>12 pt</td><td>Italic</td><td></td><td>0 pt</td><td>3 pt</td>
                    </tr>',
                    '<ul>
                        <li>Must Say Abstract</li>
                        <li>Be in the “JACoW_Abstract_Heading” style.</li>
                    </ul>') }}

            {% set section = summary['Headings'] %}
            {{ section_helper.add_section(section,
                        [],
                        '<tr>
                            <td>SECTION  HEADING</td>
                            <td>“JACoW_Section Heading” Style, or equivalent style.</td>
                            <td>Centered</td><td>12 pt</td><td>Bold</td><td>All Caps where appropriate</td><td>9 pt</td><td>3 pt</td>
                        </tr>
                        <tr>
                            <td>Sub-Section Heading</td>
                            <td>“JACoW_Subsection Heading” Style, or equivalent style.</td>
                            <td>Left or None</td><td>12 pt</td><td>Italic</td><td>Title Case.</td><td>6 pt</td><td>3 pt</td>
                        </tr>
                        <tr>
                            <td>Third Level Heading</td>
                            <td>“JACoW_Third-Level Heading” Style, or equivalent style</td>
                            <td>Left or None</td><td>10 pt</td><td>Bold</td><td>Title Case, and run into the paragraph.</td><td>6 pt</td><td>0 pt</td>
                        </tr>') }}

            {% set section = summary['Paragraphs'] %}
            {{ section_helper.add_section(section,
                        {'truncate_text':True},
                        '<tr>
                            <td>Paragraph</td>
                            <td>“JACoW_Body Text Indent” Style, or equivalent style.</td>
                            <td>Justified</td><td>10 pt</td><td>≥3 pt</td><td>3 pt</td><td>0.33cm or 9.35pt</td>
                        </tr>') }}



            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <a href="#top">Top <i class="fas fa-arrow-circle-up"></i></a>
                <h2 class="subtitle" style="padding:10px;background-color:#{{ summary['References']['ok']|status_type_background }}">
                    <a name="references"></a>{{ summary['References']['ok']|tick_cross }} References
                </h2>
                <details style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Rules for {{ summary['References']['title'] }}</summary>
                    <ul>
                    <li>All references must be ordered in the reference list based on when they first are referred to in the main text.</li>
                    <li>References in the main text can be [n], or [n1, n2, n5, etc.], or [n – n3].</li>
                    <li>A reference can be referred to multiple times in the main text as required.</li>
                    <li>All references in the reference list must be sited in the main text at least once.</li>
                    <li>Reference lists which have 9 or less references must be “JACoW_Reference when <= 9 Refs” Style.</li>
                    <li>When greater than 9 references the first 9 must be “JACoW_Reference #1-9 when >= 10 Refs” Style, and 10 and onwards must be “JACoW_Reference #10 onwards” Style.</li>
                    <li>All references must be numbered [n] and have a tab between the ] and the start of the reference text. (note many authors put spaces in which stuffs up the spacing.</li>
                    </ul>
                    <table class="table is-bordered">
                        <thead><tr><th>Type</th><th>Details</th><th>Alignment</th><th>Font Size</th><th>Space Before</th><th>Space After</th><th>Indent</th><th>Hanging Indent</th></tr></thead>
                        <tr>
                            <td>Reference</td>
                            <td>“JACoW_References when ≤ 9” Style, or equivalent style.</td><td>Justified</td>
                            <td>9 pt</td><td>0 pt</td><td>3 pt</td><td>0</td><td>0.52 cm</td>
                        </tr>
                        <tr>
                            <td>Reference</td>
                            <td>“JACoW_Reference #1-9 when >= 10 Refs” Style, or equivalent style.</td><td>Justified</td>
                            <td>9 pt</td><td>0 pt</td><td>3 pt</td><td>0.16 cm</td><td>0.52 cm</td>
                        </tr>
                        <tr>
                            <td>Reference</td>
                            <td>“JACoW_Reference #10 onwards” Style, or equivalent style.</td><td>Justified</td>
                            <td>9 pt</td><td>0 pt</td><td>3 pt</td><td>0</td><td>0.68 cm</td>
                        </tr>
                    </table>
                </details>
                {% if not references_list %}
                <p class="has-text-weight-bold has-text-danger">No references found at end of document. Please check formatting.</p>
                {% else %}
                {% for reference in references_list if not reference.style_ok %}
                {% if loop.index0 == 0 %}<h3 class="has-text-weight-bold">References with wrong style</h3>{% endif %}
                <p>[{{ reference.id }}] <b>Style:</b> {{ reference.style }}</p>
                {% else %}
                <p>{{ true|tick_cross }} reference styles okay</p>
                {% endfor %}

                {% for reference in references_list if not reference.used %}
                {% if loop.index0 == 0 %}<h3 class="has-text-weight-bold">Unused references</h3>{% endif %}
                <p>{{ reference.text }}</p>
                {% else %}
                <p>{{ true|tick_cross }} all references used</p>
                {% endfor %}

                {% for reference in references_list if not reference.order_ok %}
                {% if loop.index0 == 0 %}<h3 class="has-text-weight-bold">Out of order references</h3>{% endif %}
                <p>{{ reference.text }}</p>
                {% else %}
                <p>{{ true|tick_cross }} all references are in correct order</p>
                {% endfor %}
                <br/>
                <details style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Details</summary>
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Used</th>
                                <th>Order</th>
                                <th colspan="2">Style</th>
                                <th>Text</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for reference in references_list %}
                            <tr>
                                <td>{{ reference.id }}</td>
                                <td class="{{ 'has-background-danger' if not reference.used }}">{{ reference.used|tick_cross }}</td>
                                <td class="{{ 'has-background-danger' if not reference.order_ok }}">{{ reference.order_ok|tick_cross }}</td>
                                <td class="{{ 'has-background-danger' if not reference.style_ok }}">{{ reference.style_ok|tick_cross }}</td>
                                <td class="is-size-7">{{ reference.style }}</td>
                                <td>
                                    {{ reference.text }}
                                    {% if reference.text_error %}<p class="has-text-weight-bold has-text-danger">{{ reference.text_error }}</p>{% endif %}
                                    {% if reference.duplicate %}<p class="has-text-weight-bold has-text-danger">Duplicate reference number</p>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </details>
                {% endif %}
            </div>

            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <a href="#top">Top <i class="fas fa-arrow-circle-up"></i></a>
                <h2 class="subtitle" style="padding:10px;background-color:#{{ summary['Figures']['ok']|status_type_background }}">
                    <a name="figures"></a>{{ summary['Figures']['ok']|tick_cross }} Figures
                </h2>
                <details style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Rules for {{ summary['Figures']['title'] }}</summary>
                    <ul>
                        <li>Figure captions must be directly below the figure</li>
                        <li>Figure must be numbered in the order they are referred to in the main text.</li>
                        <li>Figure numbers must be unique and not duplicated, or skip numbers in the series.</li>
                        <li>Figure Captions 1 line long must be “centred” (“Figure Caption” Style). Figure captions 2 or more lines must be “justified” (“Caption Multi Line” Style).</li>
                        <li>Figure captions and figures are not to be indented.</li>
                        <li>Figure captions must start with “Figure n:”.</li>
                        <li>In text references to the figure if mid-sentence must be “Fig. n”, at the start of a sentence it maybe “Figure n”.</li>
                        <li>Figures must have a “.” On the end of the final line.</li>
                    </ul>
                    <table class="table is-bordered">
                        <thead><tr><th>Type</th><th>Details</th><th>Alignment</th><th>Font Size</th><th>Space Before</th><th>Space After</th></tr></thead>
                        <tr>
                            <td>Figure Caption</td>
                            <td>“Figure Caption” Style, or equivalent style.</td>
                            <td>Centered</td><td>10 pt</td><td>3 pt</td><td>≥3 pt</td>
                        </tr>
                        <tr>
                            <td>Figure Caption Multi Line</td>
                            <td>“Figure Caption Multi Line” Style, or equivalent style.</td>
                            <td>Justified</td><td>10 pt</td><td>3 pt</td><td>≥3 pt</td>
                        </tr>
                    </table>
                </details>
                <br/>
                <table class="table is-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th colspan="2">Caption</th>
                            <th>Unique</th>
                            <th colspan="2">References</th>
                            <th width="30%">Text</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, f in figures.items() %}
                            {% for fig in f %}
                            <tr>
                                <td>{{ id }}</td>
                                <td style="white-space: nowrap">{{ fig.name }}</td>
                                <td>{{ fig.caption_ok|tick_cross }}</td>
                                <td>{{ fig.unique|tick_cross }}</td>
                                <td>{{ fig.refs|join(', ') }}</td>
                                <td>{{ fig.used|tick_cross }}</td>
                                <td>{{ fig.text }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                {% if figures %}
                <details open style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Style Breakdown for {{ summary['Figures']['title'] }}</summary>
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" width="30%" style="text-align:center">Text</th>
                                <th colspan="8" width="70%" style="text-align:center">Style</th>
                            </tr>
                            <tr>
                                <th width="20%">Font Name</th>
                                <th width="8%">Alignment</th>
                                <th width="8%">Font Size</th>
                                <th width="8%">Bold</th>
                                <th width="8%">Italic</th>
                                <th width="8%">Space Before</th>
                                <th width="8%">Space After</th>
                                <th width="5%">Ok</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for id, f in figures.items() %}
                            {% for item in f %}
                            <tr>
                                <td>{{ item.text }}</td>
                                <td>{{ item.style }}</td>
                                <td {% if 'should be' in item.alignment|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.alignment }}</td>
                                <td {% if 'should be' in item.font_size|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.font_size }}</td>
                                <td {% if 'should be' in item.bold|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.bold }}</td>
                                <td {% if 'should be' in item.italic|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.italic }}</td>
                                <td {% if 'should be' in item.space_before|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.space_before }}</td>
                                <td {% if 'should be' in item.space_after|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.space_after }}</td>
                                <td {% if item.style_ok == False %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.style_ok|tick_cross }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </details>
                {% endif %}
            </div>

            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <a href="#top">Top <i class="fas fa-arrow-circle-up"></i></a>
                <h2 class="subtitle" style="padding:10px;background-color:#{{ summary['Tables']['ok']|status_type_background }}">
                    <a name="tables"></a>{{ summary['Tables']['ok']|tick_cross }} Tables
                </h2>
                <details style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Rules for {{ summary['Tables']['title'] }}</summary>
                    <ul>
                        <li>Table captions are actually titles, this means that they are in Title Case, and don’t have a “.” At the end, well unless exceeds 2 lines.</li>
                        <li>The table caption is centred if 1 line (“Table Caption” Style), and Justified if 2 or more (“Table Caption Multi Line” Style.  The table caption must appear above the Table.</li>
                        <li>All tables must be numbered in the order they appear in the document and not skip a number in the sequence.</li>
                        <li>All tables start with “Table n:”.</li>
                        <li>All tables must be referred to in the main text and use “Table n”. </li>
                    </ul>
                    <table class="table is-bordered">
                        <thead><tr><th>Type</th><th>Details</th><th>Alignment</th><th>Font Size</th><th>Space Before</th><th>Space After</th></tr></thead>
                        <tr>
                            <td>Table Caption</td>
                            <td>“Table Caption” Style, or equivalent style.</td>
                            <td>Centered</td><td>10 pt</td><td>≥3 pt</td><td>3 pt</td>
                        </tr>
                        <tr>
                            <td>Table Caption Multi Line</td>
                            <td>“Table Caption Multi Line” Style, or equivalent style.</td>
                            <td>Justified</td><td>10 pt</td><td>≥3 pt</td><td>3 pt</td>
                        </tr>
                    </table>
                </details>
                <br/>
                <table class="table is-bordered">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th colspan="3">Caption</th>
                            <th>Used</th>
                            <th>Order</th>
                            <th>Table</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for title in table_titles %}
                        <tr>
                            <td>{{ title.id }}</td>
                            <td>{{ title.text }}</td>
                            <td>{{ title.text_format_ok|tick_cross }}</td>
                            <td>
                                <ul style="list-style-type: circle; padding-left: 5px">
                                {% for message in title.text_format_message %}
                                    <li>{{ message }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>{{ title.used }}</td>
                            <td>{{ title.order_ok|tick_cross }}</td>
                            <td>{{ title.table }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if table_titles %}
                <details open style="padding:5px;border:1px lightgray solid;border-radius:5px">
                    <summary>Style Breakdown for {{ summary['Tables']['title'] }}</summary>
                    <table class="table is-bordered">
                        <thead>
                            <tr>
                                <th rowspan="2" width="30%" style="text-align:center">Text</th>
                                <th colspan="8" width="70%" style="text-align:center">Style</th>
                            </tr>
                            <tr>
                                <th width="20%">Font Name</th>
                                <th width="8%">Alignment</th>
                                <th width="8%">Font Size</th>
                                <th width="8%">Bold</th>
                                <th width="8%">Italic</th>
                                <th width="8%">Space Before</th>
                                <th width="8%">Space After</th>
                                <th width="5%">Ok</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in table_titles %}
                            <tr>
                                <td>{{ item.text }}</td>
                                <td>{{ item.style }}</td>
                                <td {% if 'should be' in item.alignment|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.alignment }}</td>
                                <td {% if 'should be' in item.font_size|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.font_size }}</td>
                                <td {% if 'should be' in item.bold|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.bold }}</td>
                                <td {% if 'should be' in item.italic|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.italic }}</td>
                                <td {% if 'should be' in item.space_before|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.space_before }}</td>
                                <td {% if 'should be' in item.space_after|string %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.space_after }}</td>
                                <td {% if item.style_ok == False %} style="background-color:#{{ False|pastel_background_style }}" {% endif %}>{{ item.style_ok|tick_cross }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </details>
                {% endif %}
            </div>
            {% if summary['SPMS'] %}
            <div class="box" style="box-shadow: 0 4px 6px rgba(0, 0, 255, 0.1), 0 0 0 2px rgba(0, 0, 255, 0.1)">
                <a href="#top">Top <i class="fas fa-arrow-circle-up"></i></a>
                <h2 class="subtitle" style="padding:10px;background-color:#{{ summary['SPMS']['ok']|status_type_background }}">
                    <a name="spms"></a>{{ summary['SPMS']['ok']|tick_cross }}
                {% if reference_csv_url is defined %}
                    Conformance with <a href={{reference_csv_url}}>references.csv</a>
                {% else %}
                   Conformance with references.csv
                {% endif %}
                </h2>
                <table class="table is-bordered">
                <thead>
                    <tr><th>Type</th><th>Match</th><th>Docx</th><th>SPMS</th></tr>
                </thead>
                <tbody>
                <tr><td>Title</td><td>{{ reference_csv_details['title']['match']|tick_cross }}</td>
                <td>
                    {{ reference_csv_details['title']['docx'] }}
                </td>
                <td>
                    {{ reference_csv_details['title']['spms'] }}
                </td>
                </tr>
                <tr><td>Extracted Author List</td>
                    <td>
                        {{reference_csv_details['author']['match']|tick_cross }}
                    </td>
                    <td>
                        {{ reference_csv_details['author']['docx'] }}
                    </td>

                    <td>
                        {{ reference_csv_details['author']['spms'] }}
                    </td>
                </tr>
                {% for result in reference_csv_details['author']['report'] %}
                <tr><td>{% if loop.index0 == 0 %}Author{% endif %}</td>
                    <td>
                        {{ result['match']|tick_cross }}
                    </td>

                    <td>
                        {{ result['docx'] }}
                    </td>

                    <td>
                        {{ result['spms'] }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </section>
   <script type="application/javascript">
        document.addEventListener('DOMContentLoaded', () => {
          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
          // Check if there are any navbar burgers
          if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');
              });
            });
          }
        });
    </script>
{% endblock %}